<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>todolist</title>
</head>
<body>
    <h1><%= kindDay%></h1>

    <ul>
        <li>Do programs</li>
        <li>Do exercise</li>
        <li>Do projects</li>
        <%for(let i = 0;i<newListItems.length;i++){%>
            <li><%=newListItems[i]%></li>
        <%}%>
    </ul>

    <form action="/" method="POST">
        <input type="text" name="addList">
        <button type="submit" name="submit">Add</button>
    </form>
</body>
</html>